$brand-primary: #a3ba05 !default;
$brand-primary-clear: #e9fa77 !default; 
 
$brand-secondary: #00a6a6 !default; 
$brand-secondary-clear: #4dcaca !default; 


$font-primary: 'Source Sans Pro', Arial, sans-serif;

// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;


// Import
@import 'bootstrap/_customVariables.scss';



/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

// Template Base
body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: lighten($brand-darker, 20%);
    color: #7f7f7f;
    background: $brand-bg-color;
    height: 100%;
    position: relative;
}

a {
    color: $brand-primary;

    &:hover, &:active, &:focus {
        color: $brand-primary;
        outline: none;
    }
}

p {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: $brand-black;
    font-family: $font-primary;
    font-weight: 400;
}

#fh5co-header {
    background:$brand-primary;
    // position: relative;
    position: absolute;
    z-index: 99;
    width: 100%;
    opacity: 1;
    top: 0;
    margin-top: 0px;

    @media screen and (max-width: $screen-sm) {
        margin-top: 0;
        background: $brand-white;
        -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        box-shadow: 0 0 9px 0 rgba(0,0,0,.1);

        .navbar-brand {
            color: $brand-primary !important;
        }

        #navbar {
            li {
                a {
                    color: rgba(0,0,0,.5) !important;
                    /*@include transition(.3s);*/
                    &:hover {
                        color: $brand-primary !important;
                    }

                    span {
                        &:before {
                            background: transparent !important;
                        }
                    }
                }

                &.active {
                    a {
                        background: transparent;
                        background: none;
                        color: $brand-primary !important;

                        span {
                            &:before {
                                visibility: visible;
                                -webkit-transform: scaleX(1);
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
    }
    // padding-top: 15px;
    .navbar {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #navbar {
        li {
            a {
                font-family: $font-primary;
                color: rgba(255,255,255,.5);
                // color: #dadada;
                position: relative;

                span {
                    position: relative;
                    display: block;
                    padding-bottom: 2px;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: $brand-primary;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        -moz-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        -o-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                    }
                }

                &:hover {
                    // color: $brand-primary;
                    color: $brand-white;
                    // color: rgba(255,255,255,1);
                    span {
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            -moz-transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            -o-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
            }

            &.active {
                a {
                    background: transparent;
                    background: none;
                    color: $brand-white;

                    span {
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }

    .navbar-brand {
        float: left;
        display: block;
        font-size: 30px;
        font-weight: 700;
        padding-left: 0;
        color: $brand-white;
    }

    &.navbar-fixed-top {
        position: fixed !important;
        background: $brand-white;
        -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        margin-top: 0px;
        top: 0;

        .navbar-brand {
            color: $brand-primary;
        }

        #navbar {
            li {
                a {
                    color: rgba(0,0,0,.5);
                    /*@include transition(.3s);*/
                    &:hover {
                        color: $brand-primary;
                    }
                }

                &.active {
                    a {
                        background: transparent;
                        background: none;
                        color: $brand-primary;

                        span {
                            &:before {
                                visibility: visible;
                                -webkit-transform: scaleX(1);
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-default {
        border: transparent;
        background: transparent;
        /*@include border-radius(0px);*/
        // padding-right: 30px;
        // padding-left: 10px;
        @media screen and (max-width: $screen-sm) {
            margin-top: 0px;
            padding-right: 0px;
            padding-left: 0px;
        }


        .brand-slogan {
            margin: 28px 0 0 15px;
            float: left;
            letter-spacing: 2px;
            color: #adadad;

            em {
                color: $brand-primary;
                font-style: normal;
            }
        }
    }

    a {
        /*@include transition(.0s);*/
    }
}

.section-heading {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
    clear: both;

    h2 {
        //font-size: 50px;
        font-weight: 500;
        // letter-spacing: 2px;
        color: #444;
        //text-transform: uppercase;
        position: relative;
        display: block;
        padding-bottom: 20px;
        line-height: 1.5;


        @media screen and (max-width: $screen-sm) {
            font-size: 30px;
        }
    }

    h3 {
        font-weight: 300;
        line-height: 1.5;
        color: #929292;

        @media screen and (max-width: $screen-sm) {
            font-size: 24px !important;
            line-height: 34px;
        }
    }
}

#fh5co-home,
#fh5co-recipes,
#fh5co-specials,
#fh5co-restaurants,
#fh5co-blog {
    padding-top: 50px;
}
#fh5co-blog {
    padding-bottom:50px;
}
// Burger Menu
.fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;

    &.active i {
        &::before, &::after {
            background: $brand-primary;
        }
    }

    &:hover, &:focus, &:active {
        outline: none;
        border-bottom: none !important;
    }

    i {
        position: relative;
        width: 25px;
        height: 3px;
        color: $brand-primary;
        font: bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        background: $brand-primary;
        transition: all .2s ease-out;

        &::before, &::after {
            content: '';
            width: 25px;
            height: 3px;
            background: $brand-primary;
            position: absolute;
            left: 0;
        }
    }
}

.fh5co-nav-toggle i::before {
    top: -7px;
}

.fh5co-nav-toggle i::after {
    bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
    top: -10px;
}

.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}

.fh5co-nav-toggle.active i {
    background: transparent;
}

.fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
    position: absolute;
    top: 12px;
    right: 0px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    border-bottom: none !important;

    @media screen and (max-width: $screen-sm) {
        display: block;
    }
}

#footer {
    background-color: $brand-secondary;
    color: white;
    .copyright {
        margin-bottom: 0px;
        padding-bottom: 0;
    }
    a{
        color:white            
    }
}

#fh5co-our-recipes {
    background-color: $brand-secondary;
    padding-top: 0px;
    padding-bottom: 0px;


    h1 {
        font-weight: 300;
        line-height: 1.5;
        color: white;
    }

    i {
        font-size: 100px;
        color: white;
    }

    .fh5co-mb30 {
        padding-top: 30px;
    }

    .full-width {
        background-color: $brand-secondary-clear;
    }
}

.fh5co-recipe {
    text-align: center;
    margin-bottom: 40px;
    float: left;
    width: 100%;

    img {
        display: block;
        margin: 0 auto;
        height: 150px;
    }

    h4 {
        //font-size: 24px;
        color:white
    }


}

.fh5co-special {


    h4 {
        display: block;
        margin: 0 auto;
        height: 50px;
        color: $brand-secondary-clear;
        //font-weight: bold;
    }

    p {
        font-size: medium;
        line-height: normal;
        padding-top:10px;
    }
}

#fh5co-restaurants {
    background-color: $brand-primary;
    padding-top: 0px;
    padding-bottom: 0px;

    h1 {
        color: white;
    }



    i {
        font-size: 100px;
        color: white;
    }

    .fh5co-mb30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .full-width {
        background-color: $brand-primary-clear;
    }
}

.fh5co-restaurant {
    h4 {
        font-weight: 300;
        line-height: 1.5;
        text-transform: uppercase;
    }

    .wrapper {
        float: left; 
        position: relative; }

    .description {
        position: absolute; 
        bottom: 0px; 
        left: 0px;
        width: 100%;
        background-color: black;
        color: white;
        opacity: 0.8; 
        filter: alpha(opacity=80); /* IE transparency */
    }

    p {

        font-size: small;
        line-height: normal;
        padding: 10px;
        color: white;
        margin: 0px
    }
}



#fh5co-blog {
 
    .fh5co-blog-item {

        .card-title {
            padding: 10px;
            margin-top: 0px;
            color: white;
            height: 50px;
        }

        .card-text {
            padding: 10px;
            color: $brand-darker;
            font-size: small;
        }
    }

    #guest-blogging >  div:nth-child(odd) {
        .card-block {
            background: $brand-primary-clear
        }

        .card-title {
            background: $brand-primary;
        }
    }

    #guest-blogging > div:nth-child(even) {
        .card-block {
            background: $brand-secondary-clear
        }

        .card-title {
            background: $brand-secondary;
        }
    }
}


#fh5co-blog {

    .fh5co-video-item {
        background: $brand-white !important;

        .fh5co-video-text {
            .card-title {
                padding: 10px;
                margin-top: 0px;
                color: $brand-primary;
                height: 50px;
            }

            .card-text {
                padding: 10px;
                color: $brand-darker;
                font-size: small;
            }
        }
    }
}


  